
<script>
$('.pagination a[rel="prev"]').attr("title", "Ctrl + ←");
$('.pagination a[rel="next"]').attr("title", "Ctrl + →");

$(document).ready(function() {
	$(this).keydown(function(e) {
		//e.preventDefault();
		if(e.keyCode == 39)
		{
			// Next
			<!-- IF U_NEXT_PAGE -->
			var next = '{U_NEXT_PAGE}';
			var next_page = next.split('amp;').join('');
			window.location.href = next_page;
			<!-- ENDIF -->
		}
		else if (e.keyCode == 37)
		{
			// Prev
			<!-- IF U_PREVIOUS_PAGE -->
			var previous = '{U_PREVIOUS_PAGE}';
			var previous_page = previous.split('amp;').join('');
			window.location.href = previous_page;
			<!-- ENDIF -->
		}
	});
});
</script>
